{# Active Filters Display #}
        <div id="active-filters" class="active-filters" style="display: none;">
            <div class="active-filters-list" id="active-filters-list"></div>
            <button class="button small" onclick="clearAllFilters()">Clear all</button>
        </div>
